table {
    margin: 20px 0;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    min-width: 80px;
    padding: 5px 10px;
}

/* Calendar */
.odd {
    background-color: #ECECEC;
}
.guest-lecture {
    background-color: rgba(100, 170, 100, 1.0);
}
.guest-lecture a {
    color: #ECECEC;
}
.guest-lecture a:hover {
    color: white;
}

