table {
    margin: 20px auto;
    table-layout: fixed;
}
td {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    vertical-align: top;
}
.instructor {
    max-width: 800px;
    margin: 0 auto;
}
.instructor td:nth-child(1) {
    width: 300px;
}
.instructor td:nth-child(2) {
    padding-left: 30px;
    vertical-align: middle;
}
.staff {
    max-width: 900px;
}
.staff, .staff tr, .staff td {
    border: 1px solid #DDD;
    border-collapse: collapse;
}
.staff td {
    width: 33%;
}
.staff .segmenttitle {
    padding: 10px 10px 0;
    margin: 0;
}
.staff .text {
    margin: 0;
    padding: 0 10px 10px;
}
.instructor td > .text:nth-child(2) {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 2px 0 4px;
}
.instructor td > .text:nth-child(3) {
    font-weight: 300;
    font-size: 15px;
}
.staff td > .text:nth-child(3) {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 2px 0 4px;
}
.staff td > .text:nth-child(2) {
    font-weight: 300;
    font-size: 15px;
}
.photo {
    height: 250px;
    width: 250px;
    margin: 0 auto;
}
@media (max-width: 850px) {
    .photo {
        height: 200px;
        width: 200px;
        overflow: hidden;
        margin: 0 auto;
    }
}
.instructor .photo {
    height: 300px;
    width: 300px;
}
.photo img {
    height: 100%;
}
.photo2 {
    display: none;
}
